body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
margin: auto;
}
.container{
    margin: 1200px;
}
/* navigation part start  */
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
}
.menu a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 700;
}
.menu a:hover{
    color: white;
}
.btn a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
}
.btn a:hover{
    background-color: white;
    color: black;
}
/* navigation part start  */